body{
    background-color: aliceblue;
}
h1{
    font-size: 50px;
    color: darkblue;
    font-style: italic;
    margin-left: 20px;
}
.center{
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
#link{
    float: right;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    color: royalblue;
}
a{
    align-items: center;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
button{
    border-radius: 2%;
}